# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Build output
.next/
out/
build/
dist/

# Generated
next-env.d.ts
src/api/generated/*
!src/api/generated/.gitkeep

# Test
coverage/
.nyc_output/

# Env
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
*.log
.vscode/
.idea/

# Misc
*.pem
.turbo/
